<div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 20px">
  <span style="font-size: 20px">Upload File</span>
  <span [mat-dialog-close]="false"><mat-icon>close</mat-icon></span>
</div>

<div
  class="file-drop-area"
  (dragover)="$event.preventDefault()"
  (drop)="onFileDropped($event)"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    style="font-size: 15px"
  >
    <p>Drag & Drop your File</p>
    <p>Or</p>
    <input
      type="file"
      #fileDropRef
      id="fileDropRef"
      (change)="fileBrowseHandler($event)"
      style="display: none"
    />
    <p
      (click)="fileDropRef.click()"
      style="text-decoration: underline; cursor: pointer; color: cornflowerblue"
    >
      Upload
    </p>
  </div>
</div>

<p style="text-align: center">
  (Supported formats: pdf, xls, xlsx, ppt, pptx, mp3, mp4) (Max Size 2mb)
</p>

<div
  fxLayout="row"
  fxLayoutAlign="end center"
  fxLayoutGap="10px"
  class="action-buttons"
>
  <div
    class="file-info"
    *ngIf="file"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
  >
    <div>
      <span
        [matTooltip]="file.name"
        matTooltipClass="tooltip-custom"
        style="color: cornflowerblue; text-decoration: underline"
      >
        1
      </span>
      file selected
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="uploadFile()"
    [mat-dialog-close]="true"
  >
    Upload
  </button>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
</div>

<mat-progress-bar
  *ngIf="uploadProgress > 0"
  mode="determinate"
  [value]="uploadProgress"
></mat-progress-bar>
