.file-drop-area {
  border: 2px dashed #73c7f4;
  border-radius: 8px;
  width: 450px;
  font-family: sans-serif;
  margin: 0px 100px;
  //   margin-bottom: 50px;
  padding: 50px 100px;
  //   padding-bottom: 50px;
  //   text-align: center;
}

.action-buttons {
  margin-right: 10px;
  margin-bottom: 10px;
}

.file-info {
  margin-left: 10px;
  margin-bottom: 10px;
}
