.action-buttons {
  display: flex;
  gap: 10px;
}

.disabled-icon {
  opacity: 0.5;
  pointer-events: none;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
