<div style="margin-top: 40px" class="courses-table-component">
  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="order"
      *ngIf="dataSource && dataSource.data.length > 0"
    >
      <form [formGroup]="editTopicsReactiveForm">
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div
              class="action-buttons"
              *ngIf="i != editingRowID; else editMode"
            >
              <mat-icon (click)="editTopics(i, row)"
                ><span class="material-icons-outlined"> edit </span></mat-icon
              >
              <!--(click)="openDeleteDialog(row.id)"  -->
              <mat-icon (click)="deleteTopics(row)"
                ><span class="material-icons-outlined"> delete </span></mat-icon
              >
            </div>
            <ng-template #editMode>
              <div class="action-buttons">
                <mat-icon
                  ><span
                    class="material-icons-outlined"
                    (click)="saveTopics(row)"
                  >
                    done
                  </span></mat-icon
                >
                <mat-icon (click)="cancelEditing()">
                  <span class="material-icons-outlined"> close </span>
                </mat-icon>
              </div></ng-template
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>

          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <!-- (click)="navigateToTopics(row)" -->
              <div>
                {{ row.order }}
              </div>
            </ng-container>
            <ng-template #editMode>
              <div>
                {{ row.order }}
              </div>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="topicName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Topic Name</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              {{ row.topicName }}
            </ng-container>
            <ng-template #editMode>
              <input
                type="text"
                formControlName="topicName"
                placeholder="Enter Topic Name"
                class="input-fields course-name"
              />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="theoryTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Theory Time</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              {{ row.theoryTime }}hr
            </ng-container>
            <ng-template #editMode>
              <input
                type="number"
                formControlName="theoryTime"
                placeholder="0 hr"
                class="input-fields theory-time"
                min="0"
                max="100"
            /></ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="practiceTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Practice Time
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode"
              >{{ row.practiceTime }}hr
            </ng-container>
            <ng-template #editMode>
              <input
                type="number"
                formControlName="practiceTime"
                placeholder="0 hr"
                class="input-fields theory-time"
                min="0"
                max="100"
              />
            </ng-template>
          </td>
        </ng-container>

        <!-- Summary Column -->
        <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Summary</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <span
                [matTooltip]="row.summary"
                style="color: rgb(70, 140, 201); text-decoration: underline"
                >{{ row.summary | slice : 0 : 25
                }}{{ row.summary.length > 25 ? "..." : "" }}</span
              >
            </ng-container>
            <ng-template #editMode>
              <p
                (click)="isSummaryOpen = !isSummaryOpen"
                type="button"
                cdkOverlayOrigin
                #summaryTrigger="cdkOverlayOrigin"
                class="input-text"
              >
                {{
                  editTopicsReactiveForm.get("summary")?.value | slice : 0 : 25
                }}{{
                  editTopicsReactiveForm.get("summary")?.value.length > 25
                    ? "..."
                    : ""
                }}
              </p>
              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="summaryTrigger"
                [cdkConnectedOverlayOpen]="isSummaryOpen"
                (overlayOutsideClick)="isSummaryOpen = !isSummaryOpen"
                [cdkConnectedOverlayPositions]="[
                  {
                    originX: 'start',
                    originY: 'bottom',
                    overlayX: 'end',
                    overlayY: 'top',
                    offsetX: 120
                  }
                ]"
              >
                <div class="overlay">
                  <div class="overlay-first-row">
                    <p>Summary</p>
                    <mat-icon
                      (click)="isSummaryOpen = !isSummaryOpen"
                      style="cursor: pointer"
                      ><span class="material-symbols-outlined"
                        >close</span
                      ></mat-icon
                    >
                  </div>
                  <div class="overlay-second-row">
                    <mat-form-field style="width: 100%">
                      <textarea
                        matInput
                        formControlName="summary"
                        (input)="onSummaryInputChange($event)"
                      ></textarea>
                      <mat-error
                        >Field can't be empty or have more than 40
                        characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="overlay-third-row">
                    <p>{{ lettersTypedSummary }}/40</p>
                    <div class="save-close">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="isSummaryOpen = !isSummaryOpen"
                        [disabled]="lettersTypedSummary > 40"
                      >
                        Save
                      </button>
                      <button
                        (click)="isSummaryOpen = !isSummaryOpen"
                        mat-stroked-button
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>

        <!-- Content Column -->
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <ng-container *ngIf="i != editingRowID; else editMode">
              <span
                [matTooltip]="row.content"
                style="color: rgb(70, 140, 201); text-decoration: underline"
                >{{ row.content | slice : 0 : 25
                }}{{ row.content.length > 25 ? "..." : "" }}</span
              >
            </ng-container>
            <ng-template #editMode>
              <p
                (click)="isContentOpen = !isContentOpen"
                type="button"
                cdkOverlayOrigin
                #contentTrigger="cdkOverlayOrigin"
                class="input-text"
              >
                {{
                  editTopicsReactiveForm.get("content")?.value | slice : 0 : 25
                }}{{
                  editTopicsReactiveForm.get("content")?.value.length > 25
                    ? "..."
                    : ""
                }}
              </p>
              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="contentTrigger"
                [cdkConnectedOverlayOpen]="isContentOpen"
                (overlayOutsideClick)="isContentOpen = !isContentOpen"
                [cdkConnectedOverlayPositions]="[
                  {
                    originX: 'start',
                    originY: 'bottom',
                    overlayX: 'end',
                    overlayY: 'top',
                    offsetX: 120
                  }
                ]"
              >
                <div class="overlay">
                  <div class="overlay-first-row">
                    <p>Content</p>
                    <mat-icon
                      (click)="isContentOpen = !isContentOpen"
                      style="cursor: pointer"
                      ><span class="material-symbols-outlined"
                        >close</span
                      ></mat-icon
                    >
                  </div>
                  <div class="overlay-second-row">
                    <mat-form-field style="width: 100%">
                      <textarea
                        matInput
                        formControlName="content"
                        (input)="onContentInputChange($event)"
                      ></textarea>
                      <mat-error
                        >Field can't be empty or have more than 40
                        characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="overlay-third-row">
                    <p>{{ lettersTypedContent }}/40</p>
                    <div class="save-close">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="isContentOpen = !isContentOpen"
                        [disabled]="lettersTypedContent > 40"
                      >
                        Save
                      </button>
                      <button
                        (click)="isContentOpen = !isContentOpen"
                        mat-stroked-button
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>

        <!-- Files Column -->
        <ng-container matColumnDef="files">
          <th mat-header-cell *matHeaderCellDef>
            <span class="mat-subtitle-1" style="font-weight: 500">Files</span>
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div fxLayout="row" fxLayoutAlign=" center">
              <mat-icon
                [ngStyle]="{
                  color: i == editingRowID ? 'grey' : 'inherit',
                  cursor: i == editingRowID ? 'not-allowed' : 'pointer'
                }"
                [ngClass]="{ disabled: i == editingRowID }"
                (click)="i != editingRowID && onFilesUploadClick(row.topicId)"
              >
                <span class="material-symbols-outlined"> upload </span>
              </mat-icon>
              <mat-icon
                style="transform: rotate(90deg)"
                *ngIf="row.files.length > 0"
                ><span class="material-symbols-outlined">
                  horizontal_rule
                </span></mat-icon
              >
              <span
                *ngIf="row.files.length > 0"
                (click)="openFileListDialog(row.files)"
                [matTooltip]="getFileNames(row.files)"
                matTooltipClass="tooltip-custom-dark"
                style="color: rgb(70, 140, 201); cursor: pointer"
                >+{{ row.files.length }} files</span
              >
            </div>
          </td>
        </ng-container>
      </form>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div
      *ngIf="dataSource && dataSource.data.length === 0"
      style="font-weight: bold; font-size: 25px; padding: 20px"
    >
      Please add a topic to see content
    </div>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
