<div class="component">
  <!-- header -->
  <div class="header">
    <p class="mat-h2">Home</p>
  </div>
  <!-- main-content -->
  <mat-card class="card">
    <div class="card-header">
      <mat-tab-group
        class="tab-group"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="Batches & Programs">
          <app-batches-and-programs></app-batches-and-programs>
        </mat-tab>
        <mat-tab label="Attendance">
          <ng-template matTabContent>
            <app-attendance></app-attendance>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <mat-divider></mat-divider>
  </mat-card>
</div>
