<div class="component">
  <!-- header -->
  <div class="header">
    <p class="mat-h2">Home</p>
  </div>
  <!-- main-content -->
  <mat-card class="card">
    <div class="card-header">
      <mat-tab-group
        class="tab-group"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="Batches & Programs">
          <ng-container *ngIf="activeTab === 0">
            <app-batches-and-programs></app-batches-and-programs>
          </ng-container>
        </mat-tab>
        <mat-tab label="Attendance">
          <ng-container *ngIf="activeTab === 1">
            <app-attendance></app-attendance>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
    <mat-divider></mat-divider>
  </mat-card>
</div>
