@import "../../../../../admin/Pages/courses-programs/courses/courses.component.scss";
.left-side {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.mark-students {
  color: cornflowerblue;
  cursor: pointer;
}

.disabled-text {
  opacity: 0.5;
  pointer-events: none;
}

.example-element-detail {
  width: 100%;
  overflow: hidden;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.attendance-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.attendance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.attendance-actions button {
  margin-left: 10px;
}

.attendance-list {
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto;
}

.attendance-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.student-name {
  flex: 1;
}

.attendance-checkbox {
  flex: 0 0 100px;
  text-align: right;
}
