@import "../../courses-programs/courses/courses.component.scss";

.action-buttons,
.action-buttons-edit {
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.action-buttons-edit {
  margin-bottom: 20px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.blur-background {
  filter: blur(3px);
  pointer-events: none;
}
