.batches-and-programs-component {
  background-color: #f1f5ff;
  margin: 20px 0px;
  padding: 20px;
  // width: 100% !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.no-progress-message {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #666;
}
